.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.card {
  margin-bottom: 30px;
}

@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');